/* Buttons */

.btn-default {
    font-weight: bold;
}

.btn-mod {
    /*color: #333333;*/
    /* background-color: #52BDEC; */
    background-color: blue;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-cent {
    /*color: #333333;*/
    color: black;
    background-color: #016A3A;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-folk {
    /*color: #333333;*/
    color: black;
    background-color: #52BDEC;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-krist {
    /*color: #333333;*/
    color: black;
    background-color: #231977;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-mil {
    /*color: #333333;*/
    color: black;
    background-color: #53A045;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-soc {
    /*color: #333333;*/
    color: black;
    background-color: #ED1B34;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-van {
    /*color: #333333;*/
    color: black;
    background-color: #DA291C;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-sve {
    /*color: #333333;*/
    color: black;
    background-color: #DDDD00;
    border-color: #cccccc;
    font-weight: bold;
}

.btn-ovr {
    /*color: #333333;*/
    color: black;
    background-color: gray;
    border-color: #cccccc;
    font-weight: bold;
}


/* Tooltip on hover */

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}