.swe_mun {
    fill: rgb(0, 75, 151);
}

.swe_mun:hover {
    stroke: #fff;
    stroke-width: .7px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.legend {
    font-size: 12px;
}